section.cabecera
    .container-fluid
        .row   
            //- EffectsHero
    
    .container 
        .row.justify-content-center
            .col-10
                h1.tituloH1 #{tituloCabecera}
                h2 #{subtituloCabecera}
                h3 #{parrafoCabecera}