
head
    link(rel="preload" href="css/styles.min.css" as="style")
    
    meta(charset='utf-8')
    link(rel="shortcut icon" href="img/logo.png" type="image/x-icon")
    title #{titulo}
    link(rel="stylesheet" href="css/styles.min.css")
    script(src="js/scripts.min.js", async defer)

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

